<h3><u>My Businesses</u></h3>

<form action="/businesses/new">
  <input type="submit" value="New Business">
</form>

<ul>
  <% @businesses.each do |bus| %>
    <li><a href="/businesses/<%=bus.id%>"><%= bus.name %></a></li>
  <% end %>
</ul>