<form method="post" action="/businesses">
  <input type="text" name=[business][name] placeholder="Business Name (required)">
  <input type="text" name=[business][type] placeholder="Business Type">
  <input type="text" name=[business][location] placeholder="Business Location">
  <br>
  <label for="[business][visited]">Have you visited?</label><input type="checkbox" name=[business][visited]>
  
  <label>Recommend For:</label>
  <% User.recommendations.each do |rec| %>
    <input type="checkbox" name= value="<%=rec.name%>">
  <% end %>
  <input type="text" name=[business][<%=rec.id%>]  placeholder="New Recommendation">
  
  <br>
  <input type="text" name=[business][tagline] placeholder="Tagline for Business">
  <input type="text" name=[business][notes] placeholder="Other Notes">
  
  <input type="submit">
</form>