html, body {
  margin: 0;
  padding: 0;
  background-image: url("https://tse2.mm.bing.net/th?id=OIP.IVPEhmfTU1wOd8QRWzM1pQHaC9&pid=Api&P=0&w=393&h=158");
  background-color: #878787;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.flex-container {
  background-color: rgba(84, 84, 84, 0.85);
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: auto;
}

header {
  height: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.90);

}

main {
  
}

footer {
  
}

h1 {
  font-family: 'dancing script', cursive, serif;
  font-size: 3em;
  color: navy;
  text-align: center;
  text-decoration: underline;
  padding: 0.2em 0 0 0;
  margin: 0;
}

nav {
  color: black;
  font-size: 1em;
  margin: 0;
  padding: .8em 0 0 .5em;
}

.tagline {
  background-color: #edefaf;
  font: italic bold 3em 'Tangerine', cursive, serif;
  color:black;
  float: right;
  border: 2px solid white;
  box-shadow: -5px 6px 8px 4px #e8e8e8;
}
