html, body {
  margin: 0;
  padding: 0;
  background-image: url("http://moziru.com/images/cityscape-clipart-black-and-white-10.jpg");
  background-color: #878787;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
}

.flex-container {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid black;
  border-top: 0;
  display: flex;
  flex-direction: column;
  width: 78vw;
  height: 100%;
  margin: auto;
  padding-bottom: 15px;
}

header {
  height: 100px;
  width: 100%;
  background-color: rgba(200, 200, 200, .9);

}

main {
  padding: 0 2% 2% 2%;
}

footer {
  
}

h1 {
  font-family: 'dancing script', cursive, serif;
  font-size: 3em;
  color: navy;
  text-align: center;
  text-decoration: underline;
  padding: 0.2em 0 0 0;
  margin: 0;
}

h2 {
  font-size: 2em;
  text-decoration: underline;
  padding-left: 0.2em;
}

h3 {
  font-size: 1.5em;
  text-decoration: underline;
  font-style: italic;
}
nav {
  color: black;
  font-size: 1em;
  margin: 0;
  padding: .8em 0 0 .5em;
}

.tagline {
  background-color: #ffcd61;
  width: 150px;
  height: 100px;
  font: italic bold 2.5em 'Tangerine', cursive, serif;
  line-height: 60px;
  color:black;
  float: right;
  border: 2px solid #f5ead1;
  box-shadow: 1px 5px 5px 4px gray;
  position: relative;
  top: 90px;
}

.statusbar {
  border: 2px solid black;
  background-color: rgb(200, 200, 200);
  max-height: 24px;
  max-width: 40%;
  margin-bottom: 10px;
  position: relative;
  bottom: 20px;
}

.button {
  display: inline;
}

.subnote {
  position: relative;
  bottom: 20px;
  margin: 0;
  padding: 0;
}

.notepad {
  background-color: #edefaf;
  border: 3px white solid;
  max-width: 28em;
  box-shadow: .5px 6px 5px #000;
  margin-top: 2%;
  padding: 1.5%;
}

.center {
  position: relative;
  left: 7em;
}

#oneline_inst {
  font-size: 1.5em;
  margin-left: 4%;
}

#logout {
  margin-top: 1%;
}