<h2><u>Change Password</u></h2>
<form method="post" action="/users/<%=@user.id%>">
  <input type="hidden" name="_method" value="patch">
  <h4><label for="current_password">Please confirm existing password: </label><input type="password" name="current_password" placeholder="Current Password"></h4>
  <br>
  <h4>Enter new password:</h4>
  <p><input type="password" name="new_password" placeholder="New Password">
  <input type="password" name="confirm_password" placeholder="Confirm New Password"></p>
  <br>
  <input type="submit" value="Change Password">
</form>