<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2><u>Sign Up</u></h2>
<br>
<form action="/signup" method="post">
  <input type='text' name=[user][username] placeholder="username (required)">
  <input type='password' name=[user][password] placeholder="password (required)"><br>
  <input type='text' name=[user][name] placeholder="Your Name">
  <input type='text' name=[user][email] placeholder="Email Address">
  <input type='text' name=[user][city] placeholder="Your City">
  <input type="submit" value="Sign Me Up!">
</form>