<h2><u>Log In</u></h2>
<br>
<form action="/login" method="post">
  <input type='text' name=[user][username] placeholder="username">
  <input type='password' name=[user][password] placeholder="password">
  <input type="submit" value="Log In">
</form>