<h2>Welcome <%= current_user.name %>!</h2>

<h3>Quick Actions:</h3>
<form class="button" action="/places/new">
  <input type="submit" value="New Place">
</form>

<form class="button" action="/places">
  <input type="submit" value="View My Places">
</form>


<br>
<h3>Manage Your Account:</h3>
<form class="button" action="/users/<%=current_user.id%>/change_password">
  <input type="submit" value="Change My Password">
</form>

<form class="button" action="/users/<%=current_user.id%>/edit">
  <input type="submit" value="Edit my Profile">
</form>

<form id="logout" action="/logout">
  <input type="submit" value="Log Out">
</form>