<h2>Welcome <%= current_user.name %>!</h2>

<h3>Quick Actions:</h3>
<form action="/places/new">
  <input type="submit" value="New Place">
</form>

<form action="/places">
  <input type="submit" value="View My Places">
</form>


<br>
<h3>Manage Your Account:</h3>
<form action="/users/<%=current_user.id%>/change_password">
  <input type="submit" value="Change My Password">
</form>

<form action="/users/<%=current_user.id%>/edit">
  <input type="submit" value="Edit my Profile">
</form>

</form>
<form action="/logout">
  <input type="submit" value="Log Out">
</form>