<h2>Welcome <%= current_user.name %>!</h2>


<form action="/places/new">
  <input type="submit" value="New Place">
</form>

<form action="/places">
  <input type="submit" value="View My Places">
</form>


<br>

<form action="/logout">
  <input type="submit" value="Log Out">
</form>