<!doctype html>
<html>
  <head>
    <title>My Town Tracker</title>
  </head>
  <body>
    <% if flash.has?(:message) %>
      <%= flash[:message] %>
    <% end %>
    
    <nav>
      <% if logged_in? %>
        <a href=<%= "/users/#{current_user.id}" %>>Home</a>
      <% else %>
        <a href="/">Home</a>
      <% end %>
      <a href="/places">My Places</a>
    </nav>
    
    <div>
      <h1>My Town Tracker</h1>
      <%= yield %>
    </div>
    
  </body>
</html>