<!doctype html>
<html>
  <head>
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <title>My Town Tracker</title>
  </head>
  <body>
    <span class="flex-container"> <!--structure for main page design-->
    
      <div class="error">
        <% if flash.has?(:message) %>
          <%= flash[:message] %>
        <% end %>
      </div>
      
      <header>
        <h1>My Town Tracker</h1>
        <nav>
          <% if logged_in? %>
            <a href=<%= "/users/#{current_user.id}" %>>Home</a>
          <% else %>
            <a href="/">Home</a>
          <% end %>
          <a href="/places">My Places</a>
        </nav>
      </header>
      
      <main>
        <%= yield %>
      </main>
      
      <footer>
        
      </footer>
      
    </span>
  </body>
</html>