<!doctype html>
<html>
  <head>
    <title>My Town Tracker</title>
  </head>
  <body>

    <div>
      <% if flash.has?(:message) %>
        <%= flash[:message] %>
      <% end %>
      <h1>My Town Tracker</h1>
      <%= yield %>
    </div>
    
  </body>
</html>